<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Forgot Password</title>
    <link href="Content/bootstrap.css" rel="stylesheet" />
    <link href="Content/bootstrap-theme.css" rel="stylesheet" /> 
    <script src="AuthScripts/jquery-3.1.1.js"></script>
    <script src="AuthScripts/angular.js"></script>
    <script src="AuthScripts/angular-cookies.js"></script>
    <script src="AuthScripts/bootstrap.js"></script> 
    <!--<script src="modules/login/config.js"></script>-->
    <script src="AuthScripts/dtoolb2c.js"></script>
    <script src="AuthScripts/b2c.js"></script>
    <script src="modules/login/controllers.js"></script>   
    <script>
        $.ajaxSetup({
            async: false
        });
        var config = {};
        $.getJSON("config.json", function (data) {
            config = data;
            $.ajaxSetup({
                async: true
            });
        });
    </script>
</head>
<body ng-app="ChangePwdApp">
    <div ng-app="headerApp">
        <div ng-include=" 'header.html' "></div>
    </div>
    <h1>Forgot Password</h1>
    <form name="ChangePwd" ng-controller="changePwdCtrl" ng-submit="changePassword(ChangePwd)">
        <div class="col-lg-3 col-lg-offset-4">
            <div ng-show="error" class="alert alert-danger">{{error}}</div>
            <div class="row">
                <div class="">
                    <label>Old Password</label>
                    <input type="text" placeholder="Enter Old Password" class="input-group form-control" ng-model="ChangePwd.OldPwd" required>
                </div>
            </div>
            <div class="row">
                <div class="">
                    <label>New Password</label>
                    <input type="text" placeholder="Enter New Password" class="input-group form-control" ng-model="ChangePwd.NewPdw" required>
                </div>
            </div>
            <div class="row">
                <div class="">
                    <label>Confirm Password</label>
                    <input type="text" placeholder="Enter Confirm Password" class="input-group form-control" ng-model="ChangePwd.ConfirmPwd" required>
                </div>
            </div>
            <div class="row">
                <div class="pull-right">
                    <img ng-if="dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                    <input ng-disabled="ChangePwd.$invalid || dataLoading" class="btn btn-primary submit-btn" type="submit" value="Submit">
                    <input class="btn btn-primary" type="reset" value="Reset">
                   
                </div>
            </div>
        </div>
    </form>
</body>
</html>

<!--<div id="page-wrapper">
    <div class="login-page">
		<div ng-show="error" class="alert alert-danger">{{error}}</div>
        <div class="form">
            <div class="logo"><img src="../../../assets/images/CalivaCrestWhite.png" alt="logo"></div>
          <form class="login-form" name="loginUser" ng-submit="login()" role="form">
				<input type="text" placeholder="Email Address" name="Email" id="Email"  ng-model="Email" required />
				<span ng-show="loginUser.username.$dirty && loginUser.username.$error.required" class="help-block error">Email Address</span>
                <button ng-disabled="loginUser.$invalid || dataLoading" class="btn">Submit</button>
				<img ng-if="dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
            </form>
        </div>
    </div>
</div>-->
<!-- /#page-wrapper -->