<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Forgot Password</title>
    <link href="Content/bootstrap.css" rel="stylesheet" />
    <link href="Content/bootstrap-theme.css" rel="stylesheet" />
    <script src="AuthScripts/jquery-3.1.1.js"></script>
    <script src="AuthScripts/angular.js"></script>
    <script src="AuthScripts/angular-cookies.js"></script>
    <script src="AuthScripts/bootstrap.js"></script>
    <script src="modules/login/config.js"></script>
    <script src="AuthScripts/dtoolb2c.js"></script>
    <script src="AuthScripts/b2c.js"></script>    
    <script src="modules/login/controllers.js"></script>
</head>
<body ng-app="ForgotPwdApp">
    <div ng-app="headerApp">
        <div ng-include=" 'header.html' "></div>
    </div>
    <h1>Forgot Password</h1>
    <form name="forgotpwd" ng-controller="forgotpwdCtrl" ng-submit="ForgotPassword(User)">
        <div class="col-lg-3 col-lg-offset-4">
            <div class="form-group" data-ng-class="{'has-error':!forgotpwd.email.$valid}">
                <div class="">
                    <label>User Email</label>
                    <input type="email" name="email" placeholder="Enter Email Address" class="input-group form-control" ng-model="User.Email" required>
                </div>
            </div>
            <div class="form-group">
                <div class="pull-right">
                    <img ng-if="dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                    <input ng-disabled="forgotpwd.$invalid" class=" btn btn-primary submit-btn" type="submit" value="Submit">
                    <input class="btn btn-primary" type="reset" value="Reset">
                </div>
            </div>
        </div>
    </form>
</body>
</html>
